<!DOCTYPE html>
<html>
<head>
	<title>Education  Portal</title>
	<link rel="stylesheet" type="text/css" href="CSS/main.css">
</head>
<body>

<center>
	<div class="id1"><h1>Education  Portal</h1></div>
	<div class="id2"><a href="/login">Login</a></div>
	<div class="id3"><a href="/registration">Registration</a></div>
</center>
	
</body>	
</html>