<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
	<title>Education  Portal</title>
	<link href="../CSS/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="../CSS/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="../Css/css/stylish-portfolio.min.css" rel="stylesheet">
</head>
<body>

<center>
	<header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-1">Education  Portal</h1>
      
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="/login">Login</a>
    </div>
    <div class="overlay"></div>
  </header>
	<!--<div class="id1"><h1>Education  Portal</h1></div>
	<div class="id2"><a href="/login">Login</a></div>-->
	
</center>
	
</body>	
</html>