<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Insert Teacher page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../CSS/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
  <link rel="stylesheet" href="../CSS/Css/style.css">
  <link rel="stylesheet" href="../CSS/Bootstrap/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="inner">
      
        <form method="post">
          <h3>Register Teacher</h3>
          
          <div class="form-wrapper">
            <input type="text" name="fullname" placeholder="Full Name" class="form-control">
            <i class="zmdi zmdi-account"></i>
          </div>
          <div class="form-wrapper">
            <input type="text" name="userid" placeholder="User ID" class="form-control">
            <i class="zmdi zmdi-id"></i>
          </div>
         
          <div class="form-wrapper">
            <input type="password" name="password" placeholder="Password" class="form-control">
            <i class="zmdi zmdi-lock"></i>
          </div>
          <div class="form-wrapper">
            <input type="text" name="type" placeholder="Type" class="form-control">
            <i class="zmdi zmdi-type"></i>
          </div>
          <button>INSERT
            <i class="zmdi zmdi-arrow-right"></i>
          </button>
        </form>

         <div>
          <a href="/AdminHome/teacher" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Back to list</a>| <a href="/logout" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Logout</a>
         <!--<a href="/AdminHome/admin"> Back to List</a> |
  <a href="/logout"> logout</a><br>-->
      </div>
      </div>
     
     
</body>
</html>