<!DOCTYPE html>
<html>
<head>
	<title>Insert page</title>
</head>
<body>
	<div>
		<h1>Insert User!</h1> 		
	</div>

	<a href="/AdminHome/admin"> Back to List</a> |
	<a href="/logout"> logout</a><br>

	<form method="post" class="form-inline">
  <label class="sr-only" for="inlineFormInputName2">Name</label>
  <input type="text" class="form-control mb-2 mr-sm-2"  name="fullname" placeholder="fullname">

  <label class="sr-only" for="inlineFormInputGroupUsername2">userid</label>
  <div class="input-group mb-2 mr-sm-2">
    <div class="input-group-prepend">
     
    </div>
    <input type="text" class="form-control"  name="userid" placeholder="userid">
  </div>

<label class="sr-only" for="inlineFormInputName2">Password</label>
  <input type="password" class="form-control mb-2 mr-sm-2"  name="password" placeholder="password">
  <label class="sr-only" for="inlineFormInputName2">type</label>
  <input type="text" class="form-control mb-2 mr-sm-2"  name="type" placeholder="type">

  <button  type="submit" class="btn btn-primary mb-2">Insert</button>
</form>
</body>
</html>