<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags ------------------------------------------->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -------------------------------------------------->
    <link rel="stylesheet" type="text/css" href="abc/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="abc/style.css">
    <link rel="stylesheet" type="text/css" href="abc/style.css">
    <link rel="stylesheet" type="text/css" href="abc/images">
    <title>Education portal</title>
  </head>
  <!-------------------------------------body -------start ------------------------------------------>
  <body>
  <!--------------------------------nav-bar----------------start--------------------------------->
    <div class="container ">
<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <a class="navbar-brand" href="#">Educational Portal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/course">Course & Section</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">See Students</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="home/password">Change Password</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Edit Profile</a>
          <a class="dropdown-item" href="#">Choose which courses able to take</a>
          <a class="dropdown-item" href="#">Contact each student</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
  <div class="container ">

<!------------------------------navbar----end----------------------------------->
<!------------------------------course----end----------------------------------->
<form method="post">
		<table>
			<tr>
				<td>Id</td>
				<td><input type="text" readonly name="id" value=""></td>
			</tr>
			<tr>
				<td>Username</td>
				<td><input type="text" name="username" value=""></td>
			</tr>
			<tr>
				<td>Password :</td>
				<td><input type="password" name="password" value=""></td>
			</tr>
		
			
				<td></td>
				<td><input type="submit" name="submit" value="Update"></td>
			</tr>
		</table>
	</form>
<!------------------------------course----end----------------------------------->


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>