<!DOCTYPE html>
<html>
<head>
	<title>Registration Page</title>
	<link rel="stylesheet" type="text/css" href="CSS/registration.css">
</head>
<body>
	<center>
	<h1>Registration Page</h1>
	<form method="post"> 
		<table>
		<tr>
		<td>Full Name:</td>
		<td><input type="text" name="FullName" > <br></td>	
		 
		</tr>
		<tr>
		<td>Userame:</td>
		<td><input type="text" name="username" > <br></td>		
		 
		</tr>
		<tr>
			<td>Password:</td>
			<td><input type="password" name="password" ><br></td>
		 
		</tr>
		<tr>
			<td>Type: </td>
			<td><input type="text" name="type" ><br></td>
		
	</tr>
	<tr>
		<td></td>
		<td><input type="submit" name="submit" value="registration" ></td>
		
		</tr>
		</table>	
	</form>
</center>
</body>
</html>